<div class="container">
    <h1 class="text-center">Cadastro de Contatos</h1>
    <form #f="ngForm" (ngSubmit)="cadastrar(f.value)">
        <label class="form-label">Nome:</label>
        <input class="form-control" name="nome" ngModel required>

        <label class="form-label">Email:</label>
        <input class="form-control" name="email" ngModel required>

        <label class="form-label">Fone:</label>
        <input class="form-control" name="fone" ngModel required>

        <label class="form-label">Endereço:</label>
        <input class="form-control" name="endereco" ngModel>
        <div>
            <button class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>