<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edição de Produtos</title>
</head>
<body>
	<h2>Edição de Produtos</h2>
	<hr>
	<form th:action=@{/produto/acao/{idProduto}/edicao/salvar(idProduto=${produto.id})} method="POST" th:object=${produto}>
		<label for="preco">Informe a Descrição</label>
		<input type="text" id="descricao" name="descricao" th:field=*{descricao}/>
		
		<label for="preco">Informe o Preço</label>
		<input type="text" id="preco" name="preco" th:field=*{preco}/>
		
		<button>Gravar</button>
	</form>
</body>
</html>